{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{% trans 'About Us' %}
{% endblock %}
{% block css_block %}

{% endblock %}
{% block content_block %}

<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})"></div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                <h3>{% trans 'About Us' %}</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span>
                        {% trans 'About Us' %}

                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.rt-bredcump -->

<section class="about-area">
    <div class="rt-design-elmnts rtbgprefix-contain"  style="background-image: url({% static 'local/assets/images/all-img/abt_vec_2.png' %})">

    </div><!-- /.rt-design-elmnts -->
    <div class="container">
        <div class="row">
            <div class="col-xl-9 offset-xl-3">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span>{% trans 'About Us' %}</span>
                        {% trans 'Who are we' %}
                    </h2><!-- /.rt-section-title -->
                    {% if base_mainSystemInfo and base_mainSystemInfo.about_text %}
                        {% autoescape off %}
                            {{ base_mainSystemInfo.about_text }}
                        {% endautoescape %}
                    {% endif %}
                </div><!-- /.rt-section-title-wrapper -->
                {% if base_mainSystemInfo and base_mainSystemInfo.why_us_menu %}
                    <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
                    <div class="row">
                        <div class="col-lg-8 text-center mx-auto">
                            <div class="rt-section-title-wrapper">
                                <h2 class="rt-section-title">
                                    <span>{% trans 'Why us' %}</span>
                                    {% trans 'Our advantages' %}
                                </h2><!-- /.rt-section-title -->
                                <!--<p></p>-->
                            </div><!-- /.rt-section-title-wrapper- -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                    <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
                    <div class="row">
                        {% for whyUsesItem in whyUses %}
                            <div class="col-lg-4 col-md-6 mx-auto text-center">
                                <div class="services-box-1 wow fade-in-bottom">
                                    <div class="services-thumb">
                                        <img src="{% if whyUsesItem.image %}{{ whyUsesItem.image.url }}{% else %}{% static 'local/assets/images/service-icons/s_icon_1.png' %}{% endif %}" alt="" draggable="false">
                                    </div><!-- /.services-thumb -->
                                    <h4>{{ whyUsesItem.title }}</h4>
                                    <p>{{ whyUsesItem.short_text }}</p>
                                </div><!-- /.services-box-1 -->
                            </div><!-- /.col-lg-4 -->
                        {% endfor %}
                    </div><!-- /.row -->
                {% endif %}
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>




<!--
    ============= Cta area start==========
 -->
 <div class="spacer-bottom"></div><!-- /.spacer-bottom -->
<section class="rt-cta-area">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="cta-box-2 d-flex flex-column align-items-center justify-content-center bg-gradient-primary">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="rt-section-title-wrapper text-white text-center">
                            <h2 class="rt-section-title">
                                <span>{% trans 'Save Time, Save Money' %}</span>
                                {% trans 'Let’s Get Started' %}
                            </h2><!-- /.rt-section-title -->
                                <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
                            <a href="{% url 'home:index' %}#home" class="rt-btn rt-light pill rt-xl rt-Bshadow-1 text-uppercase">{% trans 'Apply' %}</a>
                        </div><!-- /.rt-section-title-wrapper- -->
                    </div><!-- /.col-lg-7 -->
                </div><!-- /.row -->
            </div><!-- /.inner-content -->
        </div><!-- /.col-12 -->
    </div><!-- /.row -->
</div><!-- /.container -->


</section>


<!--
    ============= Testimonilas area start==========
 -->

{% if base_mainSystemInfo and base_mainSystemInfo.teacher_section_menu %}
<div class="spacer-top"></div><!-- /.spacer-top -->
<section class="testimonials-area" data-scrollax-parent="true">
    <div class="rt-shape-emenetns-1" style="background-image: url(assets/images/shape-elements/shape-4.png)"
        data-scrollax="properties: { translateY: '-140px' }"></div><!-- /.rt-shape-emenetns-1 -->
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <!--<span>testimonials</span>-->
                        {% trans 'Our Teachers' %}
                    </h2><!-- /.rt-section-title -->
                    <p>
                        {% trans 'Our team of local and foreign citizens' %}
                    </p>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="testimoninal-active-1">
                    {% for teacher_item in teachers %}
                        <div class="singleTbox-1 text-center {% if forloop.counter > 1 %}in{% endif %}active position-{{ forloop.counter }}" data-position="position-{{ forloop.counter }}">
                            <div class="testi-thumb">
                                <div class="inner-bg" style="background-image: url({% if teacher_item.profile_picture %}{{ teacher_item.profile_picture.url }}{% else %}{% static 'local/assets/images/testimonials/t_1.png' %}{% endif %})"></div><!-- /.inner-bg -->
                                <span class="social-badge"><i class="fab fa-linkedin-in"></i></span>
                            </div>
                            <!-- /.testi-thumb -->
                            <div class="autor-bio">
                                <h5>{{ teacher_item.get_full_name }}</h5>
                                <p>{{ teacher_item.detail }}</p>
                            </div><!-- /.autor-bio -->
                            <div class="inner-content">
                                {% if teacher_item.short_about %}
                                <p>
                                    {{ teacher_item.short_about }}
                                </p>
                                {% endif %}
                            </div><!-- /.inner-content -->
                        </div><!-- /.singleTbox-1 -->
                    {% endfor %}

                </div><!-- /.testimoninal-active-1 -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
        <div class="rt-divider style-one rt-margin-top"></div><!-- /.divider -->
    </div><!-- /.containe -->
</section>
{% endif %}
{% endblock %}
{% block js_block %}

{% endblock %}