{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{% trans 'Contact Us' %}
{% endblock %}
{% block css_block %}

{% endblock %}
{% block content_block %}


    <div class="rt-breadcump rt-breadcump-height">
        <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})">
        </div><!-- /.rt-page-bg -->
        <div class="container">
            <div class="row rt-breadcump-height">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h3>{% trans 'Contact Us' %}</h3>
                        <div class="breadcrumbs">
                            <span class="divider"><i class="icofont-home"></i></span>
                            <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                            <span class="divider"><i class="icofont-simple-right"></i></span>
                            {% trans 'Contact Us' %}

                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.breadcrumbs-content -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.rt-bredcump -->

    {% for contact_us_item in contact_uses %}


        <section class="contact-area">
            <div class="rt-design-elmnts rtbgprefix-contain" style="background-image: url(assets/images/all-img/abt_vec_3.png)">

            </div><!-- /.rt-design-elmnts -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="rt-section-title-wrapper">
                            <h2 class="rt-section-title">
                                <span>{% trans 'Contact us' %}</span>

                                {{ contact_us_item.title }}
                            </h2><!-- /.rt-section-title -->
                            <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
                        </div><!-- /.rt-section-title-wrapper -->
                    </div><!-- /.col-lg-9 -->
                </div><!-- /.row -->
                <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
            </div><!-- /.container -->
        </section>


        <section class="rt-map-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mx-auto col-md-6">
                        <div class="rt-single-icon-box icon-center text-center justify-content-center shdoaw-style wow fadeInUp">
                            <div class="icon-thumb">
                                <img src="{% static 'local/assets/images/icons-image/con-1.png' %}" alt="box-icon" draggable="false">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content">
                                <h5>{% trans 'Our Address' %}</h5>
                                <p>{{ contact_us_item.address }}</p>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 mx-auto col-md-6">
                        <div class="rt-single-icon-box icon-center text-center justify-content-center shdoaw-style wow fadeInUp" data-wow-duration="1.5s">
                            <div class="icon-thumb">
                                <img src="{% static 'local/assets/images/icons-image/con-2.png' %}" alt="box-icon" draggable="false">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content">
                                <h5>{% trans 'Phone & Email' %}</h5>
                                <p>
                                    {{ contact_us_item.mobile }}<br>
                                    {{ contact_us_item.phones }}<br>
                                    {{ contact_us_item.emails }}
                                </p>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 mx-auto col-md-6">
                        <div class="rt-single-icon-box icon-center text-center justify-content-center shdoaw-style wow fadeInUp" data-wow-duration="2s">
                            <div class="icon-thumb">
                                <img src="{% static 'local/assets/images/icons-image/con-3.png' %}" alt="box-icon" draggable="false">
                            </div><!-- /.icon-thumb -->
                            <div class="iconbox-content">
                                <h5>{% trans 'Stay In Touch' %}</h5>
                                <ul class="rt-social rt-circle-style">

                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                </ul>
                            </div><!-- /.iconbox-content -->
                        </div><!-- /.rt-single-icon-box -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="googleMap">
                {% autoescape off %}
                    {{ contact_us_item.map }}
                {% endautoescape %}

            </div>
        </section>

    {% endfor %}

{% endblock %}
{% block js_block %}

{% endblock %}