{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{% trans 'Home' %}
{% endblock %}
{% block css_block %}
<style>

    .no-js #form-loader { display: none;  }
    .js #form-loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif) center no-repeat #ffffffab;
    }

</style>
{% endblock %}
{% block content_block %}



<!--
    !============= Banner Area Start ===========!
 -->


<section class="rt-banner-area">
    <div class="single-rt-banner rt-banner-height" style="background-image: url({% static 'local/assets/images/all-img/banner01.png' %})">
        <div class="container">
            <div class="row  rt-banner-height align-items-center">
                <div class="col-lg-9">
                    <div class="rt-banner-content">
                        <h1 class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                            {% if base_mainSystemInfo and base_mainSystemInfo.site_index_title_part1 %}{{ base_mainSystemInfo.site_index_title_part1 }} {% endif %}<br>
                            {% if base_mainSystemInfo and base_mainSystemInfo.site_index_title_part2 %}{{ base_mainSystemInfo.site_index_title_part2 }} {% endif %}
                        </h1>
                        <p class="wow fade-in-top">
                            {% if base_mainSystemInfo and base_mainSystemInfo.site_slogan %}{{ base_mainSystemInfo.site_slogan }} {% endif %}
                        </p>

                    {% if base_mainSystemInfo and base_mainSystemInfo.programs_menu %}
                        <div class="rt-banner-searchbox standard-search wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane show active" id="rt-item_a_first" role="tabpanel" aria-labelledby="rt-item_a_first">
                                    <form action="{% url 'home:search' %}" method="get">

                                        <div class="rt-radio-group">
                                            {% for choice_item in homeMainForm.language %}
                                            <div class="custom-control custom-radio custom-control-inline">
                                                {{ choice_item.tag  }}
                                                <label class="custom-control-label" for="{{ choice_item.id_for_label  }}">{{ choice_item.choice_label }}</label>
                                            </div>
                                            {% endfor %}
                                        </div><!-- /.radio-group -->
                                        <div class="rt-input-group">
                                            <div class="single-input  col-rt-in-3">
                                                {{ homeMainForm.country }}
                                                <span class="input-iconbadge"><img src="{% static 'local/assets/images/icons-image/s_icon_1.png' %}" alt="" draggable="false"></span>
                                            </div><!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                {{ homeMainForm.profession }}
                                                <span class="input-iconbadge"><img src="{% static 'local/assets/images/icons-image/s_icon_2.png' %}" alt="" draggable="false"></span>
                                            </div>
                                            <div class="single-input  col-rt-in-3">
                                                {{ homeMainForm.profession_section }}
                                                <span class="input-iconbadge"><img src="{% static 'local/assets/images/icons-image/s_icon_2.png' %}" alt="" draggable="false"></span>
                                            </div><!-- /.single-input -->

                                            <div class="single-input  col-rt-in-1">
                                                <button type="submit"><i class="icofont-search"></i></button>
                                            </div><!-- /.single-input -->
                                        </div><!-- /.rt-input-group -->
                                    </form><!-- ./ form -->
                                </div>
                            </div>
                        </div><!-- /.rt-banner-searchbox -->
                    {% endif %}


{#                        <ul class="nav serachnavs wow fade-in-bottom" id="rtMultiTab" role="tablist" data-wow-duration="1.5s" data-wow-delay="1.5s">#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link active" id="first-tab" data-target="#rt-item_b_first" data-secondary="#rt-item_a_first"#}
{#                                    data-toggle="tab" href="#first" role="tab" aria-controls="first-tab" aria-selected="false" style="width: 100%;">#}
{#                                    <!--<i class="icofont-airplane"></i>-->#}
{#                                    <span>Təhsil istiqamətini seç</span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div><!-- end banner content -->
                </div><!-- end column -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single rt banner -->
</section>


<!--
    ========= Counter Start ========================
 -->
{% if base_mainSystemInfo and base_mainSystemInfo.certificates_section_menu %}
<div class="counter-area">
    <div class="container">
        <div class="row">



            <div class="col-lg-4 col-md-6 col-12">
                <div class="media counter-box-1 align-items-center wow fadeInUp">
                    <img src="{% static 'local/assets/images/counter-icons/counter_iocn_1.png' %}" alt="counter_iocn" draggable="false">
                    <div class="media-body">
                        <h5>{% trans 'Our certificates' %}</h5>
                        <h6><span class="counter">
                            {% if  homeMainForm and homeMainForm.certificate_count %}{{ homeMainForm.certificate_count }}{% else %}0{% endif %}
                        </span><span>+</span></h6>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-12" >
                <div class="media counter-box-1 align-items-center wow fadeInUp" data-wow-duration="1.5s">
                    <img src="{% static 'local/assets/images/counter-icons/counter_iocn_2.png' %}" alt="counter_iocn" draggable="false">
                    <div class="media-body">
                        <h5>{% trans 'Partners' %}</h5>
                        <h6><span class="counter">
                            {% if  homeMainForm and homeMainForm.partner_count %}{{ homeMainForm.partner_count }}{% else %}0{% endif %}
                        </span></h6>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="media counter-box-1 align-items-center wow fadeInUp" data-wow-duration="2s">
                <img src="{% static 'local/assets/images/counter-icons/counter_iocn_3.png' %}" alt="counter_iocn" draggable="false">
                    <div class="media-body">
                        <h5>{% trans 'Our students' %}</h5>
                        <h6><span class="counter">
                            {% if  homeMainForm and homeMainForm.student_count %}{{ homeMainForm.student_count }}{% else %}0{% endif %}
                        </span><span>+</span></h6>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.counter -->
{% endif %}
<!--
    ===========Services Area start==========
 -->

{% if base_mainSystemInfo and base_mainSystemInfo.why_us_menu %}
<section class="emigr-services-area rtbgprefix-contain" style="background-image: url({% static 'local/assets/images/backgrounds/dotbg.png' %})">
    <div class="spacer-bottom"></div><!-- /.spacer-bottom -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span>{% trans 'Why us' %}</span>
                        {% trans 'Our advantages' %}
                    </h2><!-- /.rt-section-title -->
                    <!--<p></p>-->
                </div><!-- /.rt-section-title-wrapper- -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            {% for whyUsesItem in whyUses %}
                <div class="col-lg-4 col-md-6 mx-auto text-center">
                    <div class="services-box-1 wow fade-in-bottom">
                        <div class="services-thumb">
                            <img src="{% if whyUsesItem.image %}{{ whyUsesItem.image.url }}{% else %}{% static 'local/assets/images/service-icons/s_icon_1.png' %}{% endif %}" alt="" draggable="false">
                        </div><!-- /.services-thumb -->
                        <h4>{{ whyUsesItem.title }}</h4>
                        <p>{{ whyUsesItem.short_text }}</p>
                    </div><!-- /.services-box-1 -->
                </div><!-- /.col-lg-4 -->
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="spacer-bottom"></div><!-- /.spacer-bottm -->
</section>
{% endif %}

<!--
    ============Deal Area Start===============
 -->


 <section class="deal-area   rtbgprefix-full bg-hide-md" style="background-image: url({% static 'local/assets/images/backgrounds/bgshapes_1.png' %})">
    <div class="container-fluid p-0">
       <div class="deal-carosel-active owl-carousel">
           {% for main_slider_item in main_slider %}
`            <div class="row single-deal-carosel align-items-center">
                <div class="col-lg-5">
                    <div class="deal-bg" style="background-image: url({% static 'local/assets/images/all-img/deal-bg.jpg' %})">
                        <div class="inner-content">
                            <h4 data-animation="fadeInDown" data-duration=".2s" data-delay=".4s"></h4>
                            <p data-animation="fade-in-bottom" data-duration=".2s" data-delay=".4s"></p>
                        </div><!-- /.inner-content -->
                    </div><!-- /.deal-bg -->
                </div><!-- /.col-md-6 -->
                <div class="col-lg-7">
                    <div class="rt-section-title-wrapper text-white" data-animation="fadeIn" data-duration=".4s" >
                        <h2 class="rt-section-title">
                            <!--<span>Take a Look at Our</span>-->
                           {{ main_slider_item.title }}
                        </h2><!-- /.rt-section-title -->
                        {% if main_slider_item.content %}
                            {% autoescape off %}
                                {{ main_slider_item.content }}
                            {% endautoescape %}
                        {% endif %}
                        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
                    </div><!-- /.rt-section-title-wrapper -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->`
           {% endfor %}

       </div><!-- /.deal-carosel-active -->
    </div><!-- /.container -->
 </section>
<!--
    ========works start==========
 -->

{% if base_mainSystemInfo and base_mainSystemInfo.how_does_works_menu %}
<div class="spacer-top"></div><!-- /.spacer-top -->
 <section class="works-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 text-center mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span>{% trans 'Please contact us' %}</span>
                        {% trans 'How does the system work?' %}
                    </h2><!-- /.rt-section-title -->

                </div><!-- /.rt-section-title-wrapper- -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            {% for howWorkItem in howWorks %}
                <div class="col-lg-3 col-md-6 mx-auto text-center">
                    <div class="services-box-2 wow fade-in-bottom">
                        <div class="services-thumb">
                            <img src="{% if howWorkItem.image  %}{{ howWorkItem.image.url }}{% else %}{% static 'local/assets/images/service-icons/s_icon_4.png' %}{% endif %}" alt="service-icons" draggable="false">
                        </div><!-- /.services-thumb -->
                        <span class="inner-counter"></span>
                        <h4>{{ howWorkItem.title }}</h4>
                        <p>{{ howWorkItem.text }}</p>
                    </div><!-- /.services-box-2 -->
                </div><!-- /.col-lg-3 -->
            {% endfor %}

        </div><!-- /.row -->
    </div><!-- /.container -->
 </section>
{% endif %}
<!--
    ============ Portfolio Start===============
 -->
{% if base_mainSystemInfo and base_mainSystemInfo.success_story_menu %}
<div class="spacer-top"></div><!-- /.spacer-top -->
<section class="portfolio-area rt-section-padding rtbgprefix-full bg-hide-md gradinet-bg-md" style="background-image: url({% static 'local/assets/images/backgrounds/portfoliobg.png' %})">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 text-center mx-auto text-center">
                <div class="rt-section-title-wrapper text-white">
                    <h2 class="rt-section-title">
                        <span>{% trans 'Our students' %}</span>
                        {% trans 'Success stories' %}
                    </h2><!-- /.rt-section-title -->
                    <p>{% trans 'Studying abroad is our job!' %}</p>
                </div><!-- /.rt-section-title-wrapper- -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->

        <div class="row grid">
            {% for successStoryItem in successStories %}
                <div class="col-lg-4 col-md-6 grid-item cat-1 cat-5 cat-4">
                    <div class="portfolio-box-1 fade-in-bottom " style="background-image: url({% if successStoryItem.image %}{{ successStoryItem.image.url }}{% else %}{% static 'local/assets/images/portfolio/port-1.jpg' %}{% endif %})">
                        <div class="rt-overlay"></div><!-- /.rt-overlay -->
                        <div class="portfolio-badge">
                            <span><sup>{{ successStoryItem.short_title }}</sup></span>
                        </div><!-- /.portfolio-badge -->
                        <div class="inner-content text-white">
                            <h6>{{ successStoryItem.title }}</h6>
                        </div><!-- /.inner-content -->
                    </div><!-- /.portfolio-box-1 -->
                </div><!-- /.col-md-4 -->
            {% endfor %}

        </div><!-- /.row -->
        <div class="row">
            <div class="col-12 text-center mt-4">
                <a href="{% url 'content:success-story-list' %}" class="rt-btn rt-gradient text-uppercase rt-sm rt-rounded rt-Bshadow-1">{% trans 'browse more' %}</a><!-- /.rt-btn -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
{% endif %}
<!--
    ======== Flight deals start======
 -->

{% if base_mainSystemInfo and base_mainSystemInfo.blog_menu %}
<div class="spacer-top"></div><!-- /.spacer-top -->

<section class="flight-dela-area" data-scrollax-parent="true">
    <div class="rt-shape-emenetns-1" style="background-image: url({% static 'local/assets/images/shape-elements/shape_1.png' %})"
        data-scrollax="properties: { translateY: '340px' }"></div><!-- /.rt-shape-emenetns-1 -->
    <div class="rt-shape-emenetns-2" style="background-image: url({% static 'local/assets/images/shape-elements/shape-2.png' %})"
        data-scrollax="properties: { translateX: '-140px' }"></div><!-- /.rt-shape-elemenets2 -->
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span></span>
                        {% trans 'Blog' %}
                    </h2><!-- /.rt-section-title -->

                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-xl-8 col-lg-10">
                <div class="row">
                    {% for article_item in articles %}
                        <div class="col-md-6">
                            <a class="flight-box wow fade-in-bottom" data-wow-duration="1s" data-wow-delay=".02s" href="{% url 'content:blog-detail' article_item.id article_item.slug %}" style="background-image: url({% if article_item.image %}{{ article_item.image.url }}{% else %}{% static  'local/assets/images/flights/flt_1.jpg' %}{% endif %})">
                                <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                                <div class="trip-to">
                                    <span>
{#                                       {{ article_item.title }}#}
                                    </span>
                                    <span>
                                       {{ article_item.title }}
                                    </span>
                                </div><!-- /.trip-to -->
                                <div class="trip-form">
                                    <span>{{ article_item.created_date|date:'d F Y' }}</span>

                                </div><!-- /.trip-form -->
                            </a><!-- /.flight-box -->
                        </div><!-- /.col-lg-4 -->
                    {% endfor %}

                    <div class="col-12 text-center mt-4">
                        <a href="{% url 'content:blog-list' %}" class="rt-btn rt-gradient rt-sm text-uppercase rt-rounded rt-Bshadow-2">{% trans 'Read more news ' %}</a>
                        <!-- /.rt-btn -->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
{% endif %}
<!--
    ====== call to action======
 -->

{% if base_mainSystemInfo and base_mainSystemInfo.programs_menu %}
<div class="spacer-top"></div><!-- /.spacer-top -->
<section class="rt-cta-area">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-box-1 d-flex flex-lg-row flex-column align-items-center text-center text-lg-left justify-content-lg-between rtbgprefix-cover text-white justify-content-center" style="background-image: url({% static 'local/assets/images/backgrounds/cat_1.jpg' %})">
                    <div class="left-column">
                        <h4 class="wow fade-in-top" data-wow-duration="1s" data-wow-delay="0.2s">
{#                            {% trans 'Define your language level with the onst test and create out' %}#}
                            {% trans "Appeal to our programs" %}
                        </h4>
                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.2s">

                        </p>
                    </div><!-- /.left-column -->
                    <div class="right-column">
                        <a href="{% url 'home:search' %}" class="rt-btn rt-gradient rt-sm text-uppercase rt-rounded rt-Bshadow-2 wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.6s">{% trans 'Programs' %}</a><!-- /.rt-btn -->
                    </div><!-- /.right-column -->
                </div><!-- /.inner-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</section>
{% endif %}
<!--
    =======app area strat=========
 -->

{% if base_mainSystemInfo and base_mainSystemInfo.app_section_menu %}
<div class="spacer-top"></div><!-- /.spacer-top -->


<section class="app-area rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/app_bg.png' %})"
    data-scrollax-parent="true">
    <div class="rt-shape-elements-1 rtbgprefix-contain"
        style="background-image: url({% static 'local/assets/images/shape-elements/shape-3.png' %})"
        data-scrollax="properties: { translateY: '50px' }"></div><!-- /.rt-shape-elements-1 -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 text-center text-lg-left">
                <img src="{% static 'local/assets/images/all-img/app-mbl.png' %}" alt="mockup image" draggable="false" class="wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.2s">
            </div><!-- /.col-lg-5 -->
            <div class="col-lg-7">
                <div class="rt-section-title-wrapper">
                    <div class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.6s">
                        <h2 class="rt-section-title">
                            <span></span>
                            UFC - {% trans 'Download the mobile application' %}!
                        </h2><!-- /.rt-section-title -->
                        <p>
                            {% trans 'Download the mobile application, stay up to date on the latest developments on the mobile phone, send us your suggestions and recommendations directly to us.' %}
                        </p>
                        <br>

                    </div><!-- /.wow -->
                    <div class="rt-button-group mt-5 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.9s">
                        <a href="#" class="rt-btn rt-app-parimary rt-rounded">
                            <div class="app-thumb">
                                <i class="fab fa-google-play"></i>
                            </div><!-- /.app-thumb -->
                            <div class="app-text">
                                <span>{% trans 'Download' %}</span>
                                <span>Android</span>
                            </div><!-- /.app-text -->
                        </a>
                        <a href="#" class="rt-btn rt-app-secondary rt-rounded">
                            <div class="app-thumb">
                                <i class="fab fa-apple"></i>
                            </div><!-- /.app-thumb -->
                            <div class="app-text">
                                <span>{% trans 'Download' %}</span>
                                <span>İOS</span>
                            </div><!-- /.app-text -->
                        </a>
                    </div><!-- /.rt-button-group -->
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
{% endif %}
<!--
    ============= video area start==========
 -->
{% if base_mainSystemInfo and base_mainSystemInfo.youtube_video_url and base_mainSystemInfo.video_section_menu %}
 <div class="play-video rtbgprefix-full bg-hide-md" style="background-image: url({% static 'local/assets/images/backgrounds/videobg.png' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="play-video-box rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/play-video-bg.png' %})">
                    <a href="{{ base_mainSystemInfo.youtube_video_url }}" class="rt-btn rt-video-light playVideo"></a>
                </div><!-- /.play-video-box -->
            </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
{% endif %}

<!--
    ============= Testimonilas area start==========
 -->

{% if base_mainSystemInfo and base_mainSystemInfo.teacher_section_menu %}
<section class="testimonials-area" data-scrollax-parent="true">
    <div class="rt-shape-emenetns-1" style="background-image: url({% static 'local/assets/images/shape-elements/shape-4.png' %})"
        data-scrollax="properties: { translateY: '-140px' }"></div><!-- /.rt-shape-emenetns-1 -->
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <!--<span>testimonials</span>-->
                        {% trans 'Our Teachers' %}
                    </h2><!-- /.rt-section-title -->
                    <p>
                        {% trans 'Our team of local and foreign citizens' %}
                    </p>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="testimoninal-active-1">
                    {% for teacher_item in teachers %}
                        <div class="singleTbox-1 text-center {% if forloop.counter > 1 %}in{% endif %}active position-{{ forloop.counter }}" data-position="position-{{ forloop.counter }}">
                            <div class="testi-thumb">
                                <div class="inner-bg" style="background-image: url({% if teacher_item.profile_picture %}{{ teacher_item.profile_picture.url }}{% else %}{% static 'local/assets/images/testimonials/t_1.png' %}{% endif %})"></div><!-- /.inner-bg -->
                                <span class="social-badge"><i class="fab fa-linkedin-in    "></i></span>
                            </div>
                            <!-- /.testi-thumb -->
                            <div class="autor-bio">
                                <h5>{{ teacher_item.get_full_name }}</h5>
                                <p>{{ teacher_item.detail }}</p>
                            </div><!-- /.autor-bio -->
                            <div class="inner-content">
                                {% if teacher_item.short_about %}
                                <p>
                                    {{ teacher_item.short_about }}
                                </p>
                                {% endif %}
                            </div><!-- /.inner-content -->
                        </div><!-- /.singleTbox-1 -->
                    {% endfor %}

                </div><!-- /.testimoninal-active-1 -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
        <div class="rt-divider style-one rt-margin-top"></div><!-- /.divider -->
    </div><!-- /.containe -->
</section>
{% endif %}

{% endblock %}
{% block js_block %}





{% endblock %}