{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}

{% endblock %}
{% block css_block %}

{% endblock %}
{% block content_block %}



    <div class="rt-breadcump rt-breadcump-height with-logn-height">
        <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})">
        </div><!-- /.rt-page-bg -->
        <div class="container">
            <div class="row rt-breadcump-height with-logn-height">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h3>{% trans 'Online exam' %}</h3>
                        <div class="breadcrumbs">
                            <span class="divider"><i class="icofont-home"></i></span>
                            <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                            <span class="divider"><i class="icofont-simple-right"></i></span>
                            {% trans 'Online exam' %}

                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.breadcrumbs-content -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

    </div><!-- /.rt-bredcump -->







{#    <div class="spacer-bottom"></div><!-- /.spacer-bottom -->#}
<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto col-lg-10">
                <div class="flight-list-box rt-mb-30 pt-30">
                    <h4 class="f-size-24 text-capitalize rt-mb-30  rt-semiblod">{% trans 'Exam detail' %}</h4>
                    <form action="" method="post" class="rt-form rt-line-form flight-lable" id="main-post-form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 rt-mb-30 ">
                                <label for="fst-name">{% trans 'First name' %}</label>
                                {{ exam_form.first_name }}
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6 rt-mb-30">
                                <label for="lst-name">{% trans 'Last name' %}</label>
                                {{ exam_form.last_name }}
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6 rt-mb-30 ">
                                <label for="fst-name">{% trans 'Email' %}</label>
                                {{ exam_form.email }}
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6 rt-mb-30">
                                <label for="lst-name">{% trans 'Phone' %}</label>
                                {{ exam_form.phone }}
                            </div><!-- /.col-md-6 -->
                            <div class="col-lg-6 rt-mb-30">
                                <label for="select-1"></label>
                                {{ exam_form.course }}
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <button type="submit" class="rt-btn rt-gradient3 pill text-uppercase ">{% trans 'Start exam' %}</button>
                            </div>
                        </div><!-- /.row -->
                    </form>
                </div><!-- /.flight-list-box -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


{% endblock %}
{% block js_block %}
    <script>
    $(".se-pre-con").hide();
    var form_submit = false;
        $( "#main-post-form-data" ).submit(function( event ) {
          event.preventDefault();
          if (!form_submit){
              form_submit = true;
                {#$(".se-pre-con").show();#}
                $.ajax({
                    url: '',
                    type: 'post',
                      data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                      contentType: false, // The content type used when sending data to the server.
                      cache: false, // To unable request pages to be cached
                      processData: false,
                        error: function (request, status, error) {
                            form_submit = false;
                            Swal.fire({
                                type: 'error',
                                title: '{% trans 'Xəta baş verdi' %}',
                                html: err.toString(),
                            });
                        },
                    success: function(data){
                        form_submit = false;
                        document.getElementById("main-post-form-data").reset();
                      if (data['code']){
                            Swal.fire({
                                type: 'success',
                                title: data['text'],
                            });
                      }else{
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            html: data['text'],
                        });
                      }
                    }
                })
          }else{
            {#$(".se-pre-con").hide();#}
            Swal.fire({
                type: 'info',
                title: '{% trans 'Gözləyin' %}',
                {#html: err.toString(),#}
            });
          }
        });
    </script>
{% endblock %}