{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{{ data_item.title }}
{% endblock %}
{% block css_block %}

{% endblock %}
{% block content_block %}

<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})"></div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                <h3>{% trans 'About Us' %}</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span>
                        {{ data_item.title }}

                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.rt-bredcump -->

<section class="about-area">
    <div class="rt-design-elmnts rtbgprefix-contain" >

    </div><!-- /.rt-design-elmnts -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        {{ data_item.title }}
                    </h2><!-- /.rt-section-title -->
                    {% if data_item and data_item.content %}
                        {% autoescape off %}
                            {{ data_item.content }}
                        {% endautoescape %}
                    {% endif %}
                </div>
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% endblock %}
{% block js_block %}

{% endblock %}