{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{% trans 'Success stories' %}
{% endblock %}
{% block css_block %}
<style>
    .main-data-content-div { overflow: auto; height: 700px !important; }
    .main-data-content-div thead th { position: sticky; top: 0; }

    /* Just common table stuff. Really. */
    .main-data-content-div table  { border-collapse: collapse; width: 100%; }
    {# #main-data-content th, td { padding: 8px 16px; } #}
    .main-data-content-div th     { background:#eee; }
</style>
{% endblock %}
{% block content_block %}

    <div class="rt-breadcump rt-breadcump-height">
        <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})">
        </div><!-- /.rt-page-bg -->
        <div class="container">
            <div class="row rt-breadcump-height">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h3>{% trans 'Success stories' %}</h3>
                        <div class="breadcrumbs">
                            <span class="divider"><i class="icofont-home"></i></span>
                            <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                            <span class="divider"><i class="icofont-simple-right"></i></span>
                            {% trans 'Success stories' %}
                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.breadcrumbs-content -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.rt-bredcump -->

              <form class="" id="main-search-form" method="post">
                  {% csrf_token %}
                    <input type="hidden" name="page-num" id="page-num" value="1"/>
              </form>


<section class="portfolio-area rt-section-padding rtbgprefix-full bg-hide-md gradinet-bg-md" style="background-image: url({% static 'local/assets/images/backgrounds/portfoliobg.png' %})">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 text-center mx-auto text-center">
                <div class="rt-section-title-wrapper text-white">
                    <h2 class="rt-section-title">
                        <span>{% trans 'Our students' %}</span>
                        {% trans 'Success stories' %}
                    </h2><!-- /.rt-section-title -->
                    <p>{% trans 'Studying abroad is our job!' %}</p>
                </div><!-- /.rt-section-title-wrapper- -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->

        <div class="row grid  main-data-content-div">


        </div><!-- /.row -->
{#        <div class="row">#}
{#            <div class="col-12 text-center mt-4">#}
{#                <a href="#" class="rt-btn rt-gradient text-uppercase rt-sm rt-rounded rt-Bshadow-1">{% trans 'browse more' %}</a><!-- /.rt-btn -->#}
{#            </div><!-- /.col-12 -->#}
{#        </div><!-- /.row -->#}
    </div><!-- /.container -->
</section>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 text-center mx-auto text-center">
                <div class="rt-section-title-wrapper text-white">
                    <h2 class="rt-section-title">
                        <span>{% trans 'Our students' %}</span>
                        {% trans 'Success stories' %}
                    </h2><!-- /.rt-section-title -->
                    <p>{% trans 'Studying abroad is our job!' %}</p>
                </div><!-- /.rt-section-title-wrapper- -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->

        <div class="row grid  main-data-content-div">


        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}
{% block js_block %}


    <script>
        var search_form = $('#main-search-form');
        var main_data_content = $('.main-data-content-div');
        $( document ).ready(function() {
            searchForm();
        });
          search_form.submit( function(eventObj) {
              searchForm();
              eventObj.preventDefault();

          });
        function searchForm() {
            $('#page-num').val(1);
            main_data_content.html('<div style="width: 100%;text-align:center;"><img src="{% static 'local/profile/images/pageloader.gif' %}"></div>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content.html(result['main_result']);
                  {#document.getElementById('customer-count-div').innerHTML = '<span>'+result['customer_count']+'</span>';#}
                  $('#page-num').val(2);
            }).fail(function () {
                  main_data_content.html('');
          });
        }
    </script>




    <script>
        var is_active = true;
        var has_data = true;
            $('.main-data-content-div').on('scroll', function() {
                console.log("-------------------------------------------------------------------------------");
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && is_active && has_data) {
                    infinityForm();
                    // alert('End of DIV is reached!');
                }
            });


        function infinityForm() {
            is_active = false;
              $.post('',search_form.serialize())
                  .done(function (result) {
                      $('.main-data-content-div tbody').append(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num').val(parseInt($('#page-num').val()) + 1);
                      }else{
                          has_data = false;
                      }
                      is_active = true;

                      console.log(result)
                }).fail(function () {
                    is_active = true;
              });
         }
    </script>

{% endblock %}