
<div class="privew">
    <div class="questionsBox">
        <div class="questions">{{ data_item.content }}</div>
        <ul class="answerList">
            {% for answer_item in data_item.get_answers %}
                <li>
                    <label>
                        <input type="radio" name="answerGroup{{ data_item.id }}" value="{{ answer_item.id }}" id="answerGroup{{ data_item.id }}_{{ answer_item.id }}">
                        {{ answer_item.content }}
                    </label>
                </li>
            {% endfor %}

        </ul>
        <div class="questionsRow"><a href="javascript:void(0);" class="button" id="nextquestions">{{ for_i }} > {{ count }}</a> </div>
    </div>
</div>