{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{% trans 'Language courses' %} - {{ data_item.title }}
{% endblock %}
{% block css_block %}

{% endblock %}
{% block content_block %}

    <div class="rt-breadcump rt-breadcump-height">
        <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})">
        </div><!-- /.rt-page-bg -->
        <div class="container">
            <div class="row rt-breadcump-height">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h3>{{ data_item.title }}</h3>
                        <div class="breadcrumbs">
                            <span class="divider"><i class="icofont-home"></i></span>
                            <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                            <span class="divider"><i class="icofont-simple-right"></i></span>
                            {{ data_item.title }}

                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.breadcrumbs-content -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.rt-bredcump -->


    <section class="content-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hotel-tabs">
                        <div class="flight-list-box rt-mb-40">
                            <ul class="nav rt-tab-nav-1 pill  pl-md-4 pr-md-4" id="myTab-2"
                                role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="rt-itm_1-tab" data-toggle="tab" href="#rt-itm_1"
                                        role="tab" aria-controls="rt-itm_1" aria-selected="true">{% trans 'Description' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="rt-itm_2-tab" data-toggle="tab" href="#rt-itm_2" role="tab"
                                        aria-controls="rt-itm_2" aria-selected="false">{% trans 'Apply the course' %}</a>
                                </li>
                            </ul>
                        </div><!-- /.hotle-del-box -->

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="rt-itm_1" role="tabpanel"
                                aria-labelledby="rt-itm_1-tab">
                                <div class="flight-list-box rt-mb-30">
                                    <div class="inner-content rt-pl-15">
                                        <h4 class="badge-hilighit color--1 f-size-14 text-white text-font text-uppercase rt-mb-30 rt-mt-15 rt-strong">
                                            {{ data_item.title }}
                                        </h4>
                                        {% autoescape off %}
                                            {{ data_item.content }}
                                        {% endautoescape %}

                                    </div><!-- /.inner-content -->
                                </div><!-- /.flight-list-box -->
                            </div>
                            <div class="tab-pane fade" id="rt-itm_2" role="tabpanel" aria-labelledby="rt-itm_2-tab">
                                <div class="flight-list-box rt-mb-30 pt-30">
                                    <h4 class="f-size-24 text-capitalize rt-mb-30  rt-semiblod">{% trans 'Apply the course' %}</h4>
                                    <form action="" method="post" class="rt-form rt-line-form flight-lable" id="main-post-form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6 rt-mb-30 ">
                                                <label for="fst-name">{% trans 'First name' %}</label>
                                                {{ form.first_name }}
                                            </div><!-- /.col-md-6 -->
                                            <div class="col-md-6 rt-mb-30">
                                                <label for="lst-name">{% trans 'Last name' %}</label>
                                                {{ form.last_name }}
                                            </div><!-- /.col-md-6 -->
                                            <div class="col-md-6 rt-mb-30 ">
                                                <label for="fst-name">{% trans 'Email' %}</label>
                                                {{ form.email }}
                                            </div><!-- /.col-md-6 -->
                                            <div class="col-md-6 rt-mb-30">
                                                <label for="lst-name">{% trans 'Phone' %}</label>
                                                {{ form.phone }}
                                            </div><!-- /.col-md-6 -->
                                            <div class="col-lg-6 rt-mb-30">
                                            </div><!-- /.col-md-6 -->
                                            <div class="col-md-6">
                                                <button type="submit" class="rt-btn rt-gradient3 pill text-uppercase ">{% trans 'Apply' %}</button>
                                            </div>
                                        </div><!-- /.row -->
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.hotel-tabs -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->


        </div><!-- /.container -->
    </section>

{% endblock %}
{% block js_block %}
<script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script>
        $("#id_phone").inputmask({"mask": "(999) 999-9999"});
    </script>
    <script>
    $(".se-pre-con").hide();
    var form_submit = false;
        $( "#main-post-form-data" ).submit(function( event ) {
          event.preventDefault();
          if (!form_submit){
              form_submit = true;
                {#$(".se-pre-con").show();#}
                $.ajax({
                    url: '',
                    type: 'post',
                      data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                      contentType: false, // The content type used when sending data to the server.
                      cache: false, // To unable request pages to be cached
                      processData: false,
                        error: function (request, status, error) {
                            form_submit = false;
                            Swal.fire({
                                type: 'error',
                                title: '{% trans 'Xəta baş verdi' %}',
                                html: err.toString(),
                            });
                        },
                    success: function(data){
                        form_submit = false;
                        document.getElementById("main-post-form-data").reset();
                      if (data['code']){
                            Swal.fire({
                                type: 'success',
                                title: data['text'],
                            });
                      }else{
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            html: data['text'],
                        });
                      }
                    }
                })
          }else{
            {#$(".se-pre-con").hide();#}
            Swal.fire({
                type: 'info',
                title: '{% trans 'Gözləyin' %}',
                {#html: err.toString(),#}
            });
          }
        });
    </script>
{% endblock %}