{% extends 'base-profile.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{% trans 'Language course appeals' %}
{% endblock %}
{% block css_block %}
<style>
.no-js #form-loader { display: none;  }
.js #form-loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif) center no-repeat #ffffffab;
}

</style>
{% endblock %}
{% block content_block %}
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="border-bottom text-center pb-4">
                        <img src="{% static 'local/profile/images/default-user.png' %}" alt="profile" class="img-lg rounded-circle mb-3"/>
                        <div class="mb-3">
                            <h3>{{ data_obj.get_full_name }}</h3>
                            <p>
                                {{ data_obj.phone }}
                            </p>
                        </div>
                      </div>
                      <div class="border-bottom py-4">
                        <div class="d-flex mb-3">
                          <div class="progress progress-md flex-grow">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="55" style="width: 100%" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="py-4">
                        <p class="clearfix">
                          <span class="float-left">
                            {% trans 'Status' %}
                          </span>
                          <span class="float-right text-muted">
                            Active
                          </span>
                        </p>
                        <p class="clearfix">
                          <span class="float-left">
                            {% trans 'Phone' %}
                          </span>
                          <span class="float-right text-muted">
                            {{ data_obj.phone }}
                          </span>
                        </p>
                        <p class="clearfix">
                          <span class="float-left">
                            {% trans 'Mail' %}
                          </span>
                          <span class="float-right text-muted">
                            {{ data_obj.email }}
                          </span>
                        </p>
                        <p class="clearfix">
                          <span class="float-left">
                            {% trans 'Language course' %}
                          </span>
                          <span class="float-right text-muted">
                            {{ data_obj.course.title }}
                          </span>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="mt-4 py-2 border-top border-bottom">
                        <ul class="nav profile-navbar">
                          <li class="nav-item">
                            <a class="nav-link" href="#">
                              <i class="ti-user"></i>
                              Info
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="profile-feed">
                        <div class="d-flex align-items-start profile-feed-item">
                          <form class="forms-sample" method="post" action="" id="main-form-data" style="width: 100%">
                              {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <label id="{{ form.first_name.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.first_name.id_for_label }}">{{ form.first_name.errors }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <label id="{{ form.last_name.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.last_name.id_for_label }}">{{ form.last_name.errors }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                                {{ form.phone }}
                                {% if form.phone.errors %}
                                    <label id="{{ form.phone.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.phone.id_for_label }}">{{ form.phone.errors }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <label id="{{ form.email.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.email.id_for_label }}">{{ form.email.errors }}</label>
                                {% endif %}
                            </div>
                            <button class="btn btn-primary btn-block mb-2">{% trans 'Submit' %}</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block js_block %}
<script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script>
        $("#{{ form.phone.id_for_label }}").inputmask({"mask": "(999) 999-9999"});
    </script>
<script>
    {% if messages %}
        {% for message in messages %}
          swal({
            title: '{% trans 'Congratulations' %}!',
            icon: 'success',
            text: '{{ message }}',
            button: {
              text: "{% trans 'OK' %}",
              value: true,
              visible: true,
              className: "btn btn-primary"
            }
          });
        {% endfor %}
    {% endif %}


    $(".se-pre-con").hide();
    var form_submit = false;
        $( "#main-form-data" ).submit(function( event ) {
          {#alert( "Handler for .submit() called." );#}
          event.preventDefault();
          if (!form_submit){
              form_submit = true;
                $(".se-pre-con").show();
                $.ajax({
                    url: '',
                    type: 'post',
                      data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                      contentType: false, // The content type used when sending data to the server.
                      cache: false, // To unable request pages to be cached
                      processData: false,
                    success: function(data){
                      $(".se-pre-con").hide();
                      if (data['message_code']){
                        Swal.fire({
                            type: 'success',
                            title: '{% trans 'Uğurlu' %}',
                            text: data['message_title']
                        });
                        setTimeout(function(){
                            window.location.href = data['redirect_url'];
                        }, 2000);
                      }else{
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            title: data['message_title'],
                            html: data['message_text']
                        });
                      }
                    },
                }).error(function (err) {
                        $(".se-pre-con").hide();
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            title: '{% trans 'Xəta baş verdi' %}',
                            html: err.toString(),
                        });
                  });
          }else{
            $(".se-pre-con").hide();
            Swal.fire({
                type: 'info',
                title: '{% trans 'Gözləyin' %}',
                {#html: err.toString(),#}
            });
          }
        });
    </script>

    <script>
        activeMenu('ui-course-appeals');
    </script>
{% endblock %}