{% extends 'base-profile.html' %}
{% load static %}
{% load i18n %}

{% block css_block %}

  <style>
        #js-grid{
            height: 500px;
            width: 100%;

        }
  </style>
{% endblock %}
{% block content_block %}

        <div class="content-wrapper" id="home-main-data">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-5 mb-4 mb-xl-0">
                  <h4 class="font-weight-bold">{% trans 'Hi, Welcomeback' %}!</h4>
                  <h4 class="font-weight-normal mb-0">{{ base_profile.get_full_name }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
    {% endblock %}
  {% block js_block %}

<script>

    activeMenu('ui-dashboard');

    {% if messages %}
        {% for message in messages %}
          swal({
            title: '{% trans 'Congratulations' %}!',
            icon: 'success',
            text: '{{ message }}',
            button: {
              text: "{% trans 'OK' %}",
              value: true,
              visible: true,
              className: "btn btn-primary"
            }
          });
        {% endfor %}
    {% endif %}

    $( document ).ready(function() {
        getMainData();
    });
    function getMainData() {
        $.post('',{'csrfmiddlewaretoken':'{{ csrf_token }}'})
        .done(function (result) {
            $('#home-main-data').append(result['main_result']);
        });
    }

</script>
  {% endblock %}