{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v5.0'
      });
    };

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/{{ LANGUAGE_CODE }}_{% if LANGUAGE_CODE == 'en' %}US{% else %}{{ LANGUAGE_CODE|upper }}{% endif %}/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

  <!-- Your customer chat code -->
  <div class="fb-customerchat"
    attribution=setup_tool
    page_id="562817030483084"
    logged_in_greeting="{% trans "Sizə necə kömək edə bilərik?" %}"
    logged_out_greeting="{% trans "Sizə necə kömək edə bilərik?" %}">
  </div>