{% load static %}{% load i18n %}

<div class="col-lg-4 col-md-6 grid-item cat-1 cat-5 cat-4">
    <div class="portfolio-box-1 fade-in-bottom " style="background-image: url({% if data_item.image %}{{ data_item.image.url }}{% else %}{% static 'local/assets/images/portfolio/port-1.jpg' %}{% endif %})">
        <div class="rt-overlay"></div><!-- /.rt-overlay -->
        <div class="portfolio-badge">
            <span><sup>{{ data_item.short_title }}</sup></span>
        </div><!-- /.portfolio-badge -->
        <div class="inner-content text-white">
            <h6>{{ data_item.title }}</h6>
        </div><!-- /.inner-content -->
    </div><!-- /.portfolio-box-1 -->
</div><!-- /.col-md-4 -->