{% load static %}{% load i18n %}

<div class="jsgrid-grid-body" style="height: 442px;">
    <table class="jsgrid-table">
        <thead class="jsgrid-grid-header jsgrid-header-scrollbar">
            <tr class="jsgrid-header-row">
                <th class="jsgrid-header-cell" >n</th>
                <th class="jsgrid-header-cell" >{% trans 'Name' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Surname' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Phone' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Email' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Language course' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Date' %}</th>
                <th class="jsgrid-header-cell" >/</th>
            </tr>
        </thead>
        <tbody id="">
            {% autoescape off %}
            {{ list_html }}
            {% endautoescape %}
        </tbody>
    </table>
</div>