{% extends 'base-profile.html' %}
{% load static %}
{% load i18n %}

{% block css_block %}

  <link rel="stylesheet" href="{% static 'local/profile/vendors/jsgrid/jsgrid.min.css' %}">
  <link rel="stylesheet" href="{% static 'local/profile/vendors/jsgrid/jsgrid-theme.min.css' %}">
  <style>
        #js-grid{
            height: 500px;
            width: 100%;

        }
  </style>
    <style>
.no-js #form-loader { display: none;  }
.js #form-loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif) center no-repeat #ffffffab;
}

</style>
{% endblock %}
{% block content_block %}
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{% trans 'User' %}</h4>
                    {% if data_obj %}
                    <p class="card-description">
                        {{ data_obj.title }}
                    </p>
                    {% endif %}
                  <form class="forms-sample" method="post" action="" id="main-form-data">
                      {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            {% for item_error in form.name.errors %}
                                <label id="{{ form.name.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.name.id_for_label }}">{{ item_error }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.surname.id_for_label }}">{{ form.surname.label }}</label>
                        {{ form.surname }}
                        {% if form.surname.errors %}
                            {% for item_error in form.surname.errors %}
                                <label id="{{ form.surname.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.surname.id_for_label }}">{{ item_error }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            {% for item_error in form.email.errors %}
                                <label id="{{ form.email.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.email.id_for_label }}">{{ item_error }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                        {{ form.phone }}
                        {% if form.phone.errors %}
                            {% for item_error in form.phone.errors %}
                                <label id="{{ form.phone.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.phone.id_for_label }}">{{ item_error }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.usertype.id_for_label }}">{{ form.usertype.label }}</label>
                        {{ form.usertype }}
                        {% if form.usertype.errors %}
                            {% for item_error in form.usertype.errors %}
                                <label id="{{ form.usertype.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.usertype.id_for_label }}">{{ item_error }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            {% for item_error in form.password.errors %}
                                <label id="{{ form.password.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.password.id_for_label }}">{{ item_error }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.retype_password.id_for_label }}">{{ form.retype_password.label }}</label>
                        {{ form.retype_password }}
                        {% if form.retype_password.errors %}
                            {% for item_error in form.retype_password.errors %}
                                <label id="{{ form.retype_password.id_for_label }}-error" class="error mt-2 text-danger" for="{{ form.retype_password.id_for_label }}">{{ item_error }}</label>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">{% trans 'Submit' %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- content-wrapper ends -->
    {% endblock %}
  {% block js_block %}
<script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script>
        $("#{{ form.phone.id_for_label }}").inputmask({"mask": "(999) 999-9999"});
    </script>
<script>
    {% if messages %}
        {% for message in messages %}
          swal({
            title: '{% trans 'Congratulations' %}!',
            icon: 'success',
            text: '{{ message }}',
            button: {
              text: "{% trans 'OK' %}",
              value: true,
              visible: true,
              className: "btn btn-primary"
            }
          });
        {% endfor %}
    {% endif %}


    $(".se-pre-con").hide();
    var form_submit = false;
        $( "#main-form-data" ).submit(function( event ) {
          {#alert( "Handler for .submit() called." );#}
          event.preventDefault();
          if (!form_submit){
              form_submit = true;
                $(".se-pre-con").show();
                $.ajax({
                    url: '',
                    type: 'post',
                      data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                      contentType: false, // The content type used when sending data to the server.
                      cache: false, // To unable request pages to be cached
                      processData: false,
                    success: function(data){
                      $(".se-pre-con").hide();
                      if (data['message_code']){
                        Swal.fire({
                            type: 'success',
                            title: '{% trans 'Uğurlu' %}',
                            text: data['message_title']
                        });
                        setTimeout(function(){
                            window.location.href = data['redirect_url'];
                        }, 2000);
                      }else{
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            title: data['message_title'],
                            html: data['message_text']
                        });
                      }
                    },
                }).error(function (err) {
                        $(".se-pre-con").hide();
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            title: '{% trans 'Xəta baş verdi' %}',
                            html: err.toString(),
                        });
                  });
          }else{
            $(".se-pre-con").hide();
            Swal.fire({
                type: 'info',
                title: '{% trans 'Gözləyin' %}',
                {#html: err.toString(),#}
            });
          }
        });
    </script>
    <script>
        activeMenu('ui-appeals');
    </script>
  {% endblock %}
