{% load static %}{% load i18n %}

<div class="col-lg-4 col-md-6 mx-auto">
    <article class="single-blg-post grid-view standard-post wow fadeInUp" data-wow-duration="1s">
        <a href="{% url 'content:blog-detail' data_item.id data_item.slug %}" class="post-thumbnail">
            <img src="{% if data_item.image %}{{ data_item.image.url }}{% else %}{% endif %}" alt="">
            <div class="meta-date">
                <span>{{ data_item.created_date|date:'d' }}</span>
                <span>{{ data_item.created_date|date:'M' }}</span>
            </div><!-- /.meta-date -->
        </a>
    <div class="entry-content">
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="{% url 'content:blog-detail' data_item.id data_item.slug %}" rel="bookmark">{{ data_item.title }}</a>
            </h2>
            <div class="entry-meta">
                <span><a href="{% url 'content:blog-detail' data_item.id data_item.slug %}"><i class="icofont-eye-blocked"></i>{{ data_item.view_count }} {% trans 'View' %}</a></span>
            </div><!-- .entry-meta -->
        </header><!-- .entry header -->
        <p>
            {{ data_item.short_title }}.
        </p>
        <footer class="entry-footer text-center">
            <a href="{% url 'content:blog-detail' data_item.id data_item.slug %}">{% trans 'read more' %}</a>
        </footer><!-- ./ footer -->
    </div><!-- .entry content -->
</article><!-- ./artice single blog -->
</div><!-- /.col-lg-4 -->