{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{% trans 'Programs' %}
{% endblock %}
{% block css_block %}
<style>
    .main-data-content-div { overflow: auto; height: 700px; }
    .main-data-content-div thead th { position: sticky; top: 0; }

    /* Just common table stuff. Really. */
    .main-data-content-div table  { border-collapse: collapse; width: 100%; }
    {# #main-data-content th, td { padding: 8px 16px; } #}
    .main-data-content-div th     { background:#eee; }
</style>
{% endblock %}
{% block content_block %}



<div class="rt-breadcump rt-breadcump-height with-logn-height" style="margin-bottom: 40px;">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})">
    </div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height with-logn-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h3>{% trans 'Programs' %}</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span>
                        {% trans 'Programs' %}
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->


</div><!-- /.rt-bredcump -->





<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="rt-BototmTab">
                    <div class="tab-pane show active fade-in-bottom" id="rt-item_b_second" role="tabpanel" aria-labelledby="rt-item_b_second">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 mt-5 mt-lg-0">

                                <div class="box-style__1 rt-mb-30">
                                    <form action="#" class="row" id="main-search-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="page-num" id="page-num" value="1"/>
                                        <div class="col-lg-12 col-md-12 mb-3 mb-lg-0">
                                            <div class="rt-radio-group">
                                                {% for choice_item in homeMainForm.language %}
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    {{ choice_item.tag  }}
                                                    <label class="custom-control-label" for="{{ choice_item.id_for_label  }}">{{ choice_item.choice_label }}</label>
                                                </div>
                                                {% endfor %}
                                            </div><!-- /.radio-group -->
                                        </div>
                                        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                                            {{ homeMainForm.country }}
                                        </div><!-- /.col-lg-3 -->
                                        <div class="col-lg-3 rt-input-group mini col-md-6  mb-3 mb-md-0">
                                                {{ homeMainForm.profession }}
                                        </div><!-- /.col-lg-3 -->
                                        <div class="col-lg-3 rt-input-group mini col-md-6 ">
                                            {{ homeMainForm.profession_section }}
                                        </div><!-- /.col-lg-3 -->
                                        <div class="col-lg-3 col-md-6 mb-3 mb-lg-0">
                                            <button class="rt-btn pill rt-sm rt-gradient d-block">{% trans 'Search' %}</button>
                                        </div><!-- /.col-lg-4 -->
                                    </form>
                                </div><!-- /.flight-list-box -->
                            </div><!-- /.flight-list-box -->

                            <div class="col-xl-12 col-lg-12 mt-5 mt-lg-0 main-data-content-div">
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>



{% endblock %}
{% block js_block %}


    <script>
        var search_form = $('#main-search-form');
        var main_data_content = $('.main-data-content-div');
        $( document ).ready(function() {
            searchForm();
        });
          search_form.submit( function(eventObj) {
              searchForm();
              eventObj.preventDefault();

          });
        function searchForm() {
            $('#page-num').val(1);
            main_data_content.html('<div style="width: 100%;text-align:center;"><img src="{% static 'local/profile/images/pageloader.gif' %}"></div>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content.html(result['main_result']);
                  {#document.getElementById('customer-count-div').innerHTML = '<span>'+result['customer_count']+'</span>';#}
                  $('#page-num').val(2);
            }).fail(function () {
                  main_data_content.html('');
          });
        }
    </script>




    <script>
        var is_active = true;
        var has_data = true;
            $('.main-data-content-div').on('scroll', function() {
                console.log("-------------------------------------------------------------------------------");
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && is_active && has_data) {
                    infinityForm();
                    // alert('End of DIV is reached!');
                }
            });


        function infinityForm() {
            is_active = false;
              $.post('',search_form.serialize())
                  .done(function (result) {
                      main_data_content.html(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num').val(parseInt($('#page-num').val()) + 1);
                      }else{
                          has_data = false;
                      }
                      is_active = true;

                      console.log(result)
                }).fail(function () {
                    is_active = true;
              });
         }
    </script>

{% endblock %}