{% extends 'base-profile.html' %}
{% load static %}
{% load i18n %}

{% block css_block %}

  <link rel="stylesheet" href="{% static 'local/profile/vendors/jsgrid/jsgrid.min.css' %}">
  <link rel="stylesheet" href="{% static 'local/profile/vendors/jsgrid/jsgrid-theme.min.css' %}">
  <style>
        #js-grid{
            height: 500px;
            width: 100%;

        }
  </style>
{% endblock %}
{% block content_block %}
    <div class="content-wrapper">
      <div class="row  grid-margin">


        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <form class="" id="search-form" method="post">
                  {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            {{ search_form.search }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            {{ search_form.field_list }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            {{ search_form.order_type }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            <button type="button" onclick="searchForm()" class="btn btn-primary mb-2">{% trans 'Search' %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="page-num" id="page-num" value="1"/>
              </form>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">{% trans 'Section list' %}</h3>

              <div id="js-grid-sortable" class="jsgrid" style="position: relative; height: 500px; width: 100%;">
                  <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                      <table class="jsgrid-table">
                          <tr class="jsgrid-header-row">
                              <th class="jsgrid-header-cell" style="width: 30%">{% trans 'Title' %}</th>
                              <th class="jsgrid-header-cell" style="width: 20%">{% trans 'Code' %}</th>
                              <th class="jsgrid-header-cell" style="width: 50%">{% trans 'Short text' %}</th>
                          </tr>
                      </table>
                  </div>
                  <div class="jsgrid-grid-body" style="height: 442px;">
                      <table class="jsgrid-table">
                          <tbody id="main-data-content-div">
                          </tbody>
                      </table>
                    </div>
                  <div class="jsgrid-pager-container" style="display: none;"></div>
                  <div class="jsgrid-load-shader" style="display: none; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1000;"></div><div class="jsgrid-load-panel" style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">Please, wait...</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    {% endblock %}
  {% block js_block %}


    <script>
        var search_form = $('#search-form');
        var main_data_content = $('#main-data-content-div');
        $( document ).ready(function() {
            searchForm();
        });
          search_form.submit( function(eventObj) {
              searchForm();
              eventObj.preventDefault();

          });
        function searchForm() {
            $('#page-num').val(1);
            main_data_content.html('<div style="width: 100%;text-align:center;"><img src="{% static 'main/assets/img/pageloader.gif' %}"></div>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content.html(result['main_result']);
                  $('#page-num').val(2);
            }).fail(function () {
                  main_data_content.html('');
          });
        }
    </script>




    <script>
        var is_active = true;
        var has_data = true;
            $('#main-data-content-div').on('scroll', function() {
                console.log("-------------------------------------------------------------------------------");
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && is_active && has_data) {
                    infinityForm();
                    // alert('End of DIV is reached!');
                }
            });


        function infinityForm() {
            is_active = false;
              $.post('',search_form.serialize())
                  .done(function (result) {
                      $('#main-data-content-div').append(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num').val(parseInt($('#page-num').val()) + 1);
                      }else{
                          has_data = false;
                      }
                      is_active = true;

                      console.log(result)
                }).fail(function () {
                    is_active = true;
              });
         }
    </script>

  {% endblock %}