{% load static %}{% load i18n %}

<div class="box-style__1 rt-mb-30">
    <div class="hotel-inner-content row">
        <div class="hotel-thumb col-md-3 mb-4 mb-md-0">
           <div class="hotel-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/all-img/hotel-1.jpg' %})"></div>
        </div><!-- /.hotel-thumb -->
        <div class="hotel-text col-md-9">
            <div class="top mb-4 mb-md-0">
                <a href="">{{ data_item.title }} </a>
                <hr style="margin: 0.5em 0;"/>
                <p>{{ data_item.short_title }}</p>
                <hr style="margin: 0.5em 0;"/>
            </div><!-- /.top -->
            <div class="middle-text d-md-flex justify-content-md-between mb-4 mb-md-0">
                <div class="left">
                    <span class="badge rt-gradinet-badge pill">{{ data_item.country.title }}</span>
                    <span class="badge rt-gradinet-badge pill" style="color: #ffffff;">{{ data_item.language.title }}</span>
                    <span style="    font-size: 16px;">{{ data_item.profession.title }}</span>
                    <span>{{ data_item.profession_section.title }}</span>
                </div>
            </div><!-- /.middle-text -->
            <hr style="margin: 0.5em 0;"/>
            <div class="footer-elements d-flex justify-content-md-between align-items-center">
                <div class="right">
                    <a href="{% url 'home:program-detail' data_item.id data_item.slug %}" class="rt-btn rt-gradient pill rt-sm2 text-uppercase">{% trans 'read more' %}</a>
                </div><!-- /.right -->
            </div><!-- /.footer-elements -->
        </div><!-- /.hotel-text -->
    </div><!-- /.hotel-inner-content -->
</div><!-- /.hotel-list-box -->