{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}
{% trans 'Blog' %} - {{ data_item.title }}
{% endblock %}
{% block css_block %}

{% endblock %}
{% block content_block %}

    <div class="rt-breadcump rt-breadcump-height">
        <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})">
        </div><!-- /.rt-page-bg -->
        <div class="container">
            <div class="row rt-breadcump-height">
                <div class="col-12">
                    <div class="breadcrumbs-content">
                        <h4>{{ data_item.title }}</h4>
                        <div class="breadcrumbs">
                            <span class="divider"><i class="icofont-home"></i></span>
                            <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                            <span class="divider"><i class="icofont-simple-right"></i></span>
                            <a href="{% url 'content:blog-list' %}" title="Home">{% trans 'Blog' %}</a>
                            <span class="divider"><i class="icofont-simple-right"></i></span>
                            {{ data_item.title }}
                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.breadcrumbs-content -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.rt-bredcump -->

    <section class="blog-content-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <article class="single-blg-post @@blog-class">
                        <a href="#" class="post-thumbnail text-center" >
                            <img src="{% static 'local/assets/images/all-img/single-post-1.jpg' %}" alt="">
                            <div class="meta-date">
                                <span>{{ data_item.created_date|date:'d' }}</span>
                                <span>{{ data_item.created_date|date:'M' }}</span>
                            </div><!-- /.meta-date -->
                        </a>
                        <div class="entry-content">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    {{ data_item.title }}
                                </h2>
                                <div class="entry-meta">
                                    <span><a href="javascript:void(0)"><i class="icofont-eye-blocked"></i>{{ data_item.view_count }} {% trans 'View' %}</a></span>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry header -->
                            {% autoescape off %}
                                {{ data_item.content }}
                            {% endautoescape %}

                            <footer class="entry-footer">

                                <ul class="rt-social rt-circle-style">
                                    <li><span><strong>{% trans 'SHARE' %}:</strong></span></li>
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                                </ul>
                            </footer><!-- ./ footer -->
                        </div><!-- .entry content -->
                    </article><!-- ./artice single blog -->
                </div><!-- ./column -->
            </div><!-- ./row -->
        </div><!-- ./ copntainer -->
    </section>

{% endblock %}
{% block js_block %}

{% endblock %}