
  <tr class="jsgrid-row">
      <td class="jsgrid-cell" style="width: 30%;">{{ data_item.title }}</td>
      <td class="jsgrid-cell" style="width: 20%;">{{ data_item.code }}</td>
      <td class="jsgrid-cell" style="width: 50%;">{{ data_item.short_text }}</td>
  </tr>