{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}

{% endblock %}
{% block css_block %}
<style>
.privew {
    margin-bottom: 20px;
}
.questionsBox {
    background: azure;
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);
    border-radius: 3px;
    margin: 0 10px;
}.questions {
    background: #007fbe;
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
}
.questions:after {
    {#background: url(../img/icon.png) no-repeat left 0;#}
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0;
}
.questions:before, .questions:after {
    background: black;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.answerList {
    margin-bottom: 15px;
}


ol, ul {
    list-style: none;
}
.answerList li:first-child {
    border-top-width: 0;
}

.answerList li {
    padding: 3px 0;
}
.answerList label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}
.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}
.button, .greyButton {
    background-color: #f2f2f2;
    color: #888888;
    display: inline-block;
    border: solid 3px #cccccc;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 27px;
    min-width: 160px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: capitalize;
}
.questionsRow span {
    float: right;
    display: inline-block;
    line-height: 30px;
    border: solid 1px #aeb9c0;
    padding: 0 10px;
    background: #FFF;
    color: #007fbe;
}

.finish-exam-button{
    position: relative;
    border-radius: 999px;
    z-index: 1;
    color: #fff;
    border: none;
    background: -webkit-linear-gradient(55deg, #9932f5 0%, #4933f1 53%, #4950f8 70%, #496cfe 100%);
    background: linear-gradient(35deg, #9932f5 0%, #4933f1 53%, #4950f8 70%, #496cfe 100%);
}

</style>
{% endblock %}
{% block content_block %}

<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})"></div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                <h3>{{ data_item.course.title }}</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="{% url 'home:index' %}" title="Home">{% trans 'Home' %}</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span>
                        {{ data_item.course.title }} - {{ data_item.get_full_name }}

                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.rt-bredcump -->



<!--
    ============= Cta area start==========
 -->
 <div class="spacer-bottom"></div><!-- /.spacer-bottom -->
<section class="rt-cta-area">
    <div class="container">
            <div class="row" id="all-data-cont">
                <div class="col-sm-12 col-sm-offset-2">
                    <a href="javascript:void(0);" onclick="finishExam()" style="padding: 16px 40px;width: 100%;" class="btn finish-exam-button" type="button">{% trans 'Finish the exam' %}</a>
                </div>
                <div class="col-sm-12 col-sm-offset-2" >
                    <form id="main-data-form" method="post">
                        {% csrf_token %}
                        <div id="main-data-content-div"></div>
                    </form>
                </div>
                <div class="col-sm-12 col-sm-offset-2">
                    <a href="javascript:void(0);" onclick="finishExam()" style="padding: 16px 40px;width: 100%;" class="btn finish-exam-button" type="button" >{% trans 'Finish the exam' %}</a>
                </div>
            </div>
    </div><!-- /.container -->


</section>
<form id="main-search-form">{% csrf_token %}</form>
{% endblock %}
{% block js_block %}

    <script>
        var search_form = $('#main-search-form');
        var data_form = $('#main-data-form');
        var main_data_content = $('#main-data-content-div');
        var all_data_cont = $('#all-data-cont');
        $( document ).ready(function() {
            searchForm();
        });
        function searchForm() {
            main_data_content.html('<div style="width: 100%;text-align:center;"><img src="{% static 'local/profile/images/pageloader.gif' %}"></div>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content.html(result['result']);
            }).fail(function () {
                  main_data_content.html('');
          });
        }
        function finishExam() {
          $.post('{% url 'home:online-exam-detail-check' data_item.uuid_id %}',data_form.serialize())
              .done(function (result) {
                Swal.fire({
                    type: 'success',
                    title: '{% trans 'Your result' %}',
                    html: result['result'],
                });
                all_data_cont.html('<div class="col-sm-12 col-sm-offset-2">\n' +
                    '                    <a href="{% url 'home:index' %}"style="padding: 16px 40px;width: 100%;" class="btn finish-exam-button" type="button">{% trans 'Go to Homepage' %}</a>\n' +
                    '                </div>');
            }).fail(function () {
                {#main_data_content.html('');#}
          });
        }
    </script>


{% endblock %}