{% extends 'main-base.html' %}
{% load static %}{% load i18n %}
{% block title_block %}

{% endblock %}
{% block css_block %}

{% endblock %}
{% block content_block %}
<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/bredcump.png' %})">
    </div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h3>{% trans 'Error' %}</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="#" title="Home">{% trans 'Home' %}</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span>
                        {% trans 'Error' %}

                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.rt-bredcump -->

<section class="404-content-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{% static 'local/assets/images/all-img/404.png' %}" alt="404 image" class="rt-mb-30" draggable="false">
                    <h3 class="rt-semiblod rt-mb-15">
                        {% trans 'Oops... It looks like you ‘re lost !' %}
                    </h3>
                    <p class="rt-mb-30">{% trans 'The page you were looking for dosen’t exist' %}.</p>
                    <a href="{% url 'home:index' %}" class="rt-btn rt-gradient pill text-uppercase">{% trans 'Go home' %}</a>
            </div><!-- ./column -->
        </div><!-- ./row -->
    </div><!-- ./ copntainer -->
</section>

{% endblock %}
{% block js_block %}

{% endblock %}