{% load static %}{% load i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}-{% block title_block %}

    {% endblock %} </title>
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ base_mainSystemInfo.site_name }}">
    <meta name="twitter:description" content="{{ base_mainSystemInfo.meta_description }}">
    <meta name="twitter:image" content="{% if base_mainSystemInfo.image %}{{ base_mainSystemInfo.image.url }}{% endif %}">

    <!-- Facebook Meta -->
    <meta property="og:url" content="{{ base_mainSystemInfo.url }}">
    <meta property="og:title" content="{{ base_mainSystemInfo.site_name }}">
    <meta property="og:description" content="{{ base_mainSystemInfo.meta_description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    {% block meta_block %}

    {% endblock %}
    {% include 'include/favicon.html' %}
    <!-- ==================Start Css Link===================== -->
<link href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'local/assets/css/animate.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/OverlayScrollbars.min.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/icofont.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/slick.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/slider-range.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/tippy.css' %}">
<link rel="stylesheet" href="{% static 'local/assets/css/app.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" />
<!-- ==================End Css Link===================== -->

    <meta name="Description" CONTENT="{% if base_mainSystemInfo.meta_description %}{{ base_mainSystemInfo.meta_description }}{% endif %}">
    <meta name="google-site-verification" content="AIzaSyCypaPZy3M4w_I7Q9uRN8OSof_JRDBf9v0"/>
    <meta name="robots" content="noindex,nofollow">




<style>
    h1,h2,h3,h4,h5,h6,span,p,body{
        font-family: Arial;
    }
    {% if request.resolver_match.url_name != 'index' %}
        .icofont-headphone-alt:before , .icofont-phone:before , .icofont-email:before, .top-message li, .top-message li a{
            color: #ffffff;
        }
        .brand-logo img {
            background: #ffffff;
        }
    {% endif %}
    @media (min-width: 768px){
    .only-show-mobile{
        display: none !important;
    }
    }
</style>

{% block css_block %}

{% endblock %}
    <!--[if lt IE 9]>
<script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>


<body>


  <!--
        ================== Header Area Start===================
     -->

  <div class="rt-preloder">
    <div class="preloder-box">
        <img src="{% static 'local/assets/images/all-img/preloder.svg' %}" alt="preloder image" draggable="false">
    </div><!-- /.preloder-box -->
</div><!-- /.rt-preloder -->

  <header class="rt-site-header  rt-fixed-top white-menu">
    <div class="top-header d-none d-md-block">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <ul class="text-center text-md-left top-message">
                    <li> <i class="icofont-headphone-alt"></i>{% trans 'Support' %}</li>
                    {% if base_mainSystemInfo and base_mainSystemInfo.site_name %}
                        <li><a href="javascript:void(0)"><i class="icofont-phone"></i>{{ base_mainSystemInfo.phone }}</a></li>
                    {% endif %}
                    {% if base_mainSystemInfo and base_mainSystemInfo.site_name %}
                        <li><a href="mailto:{{ base_mainSystemInfo.email }}"><i class="icofont-email"></i>{{ base_mainSystemInfo.email }}</a></li>
                    {% endif %}
                </ul>
            </div><!-- end top header single -->
            <div class="col-md-6">
                <ul class="text-center text-md-right top-social">
                    <li><a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-americas"></i>{{ LANGUAGE_CODE }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for language in languages %}
                                {% if language.0 != LANGUAGE_CODE %}
                                    <a class="dropdown-item" href="{% url 'set_language' %}?language={{ language.0 }}&next={{ request.path }}">{{ language.0 }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                    {% if request.user.is_anonymous %}
                        <li><a href="#" data-target="#rtmodal-1" data-toggle="modal"><i class="far fa-user-circle"></i>{% trans 'Sign in' %}</a></li>
                    {% else %}
                        <li><a href="{% url 'panel:dashboard' %}" ><i class="far fa-user-circle"></i>{{ base_profile.get_full_name }}</a></li>
                        <li><a href="{% url 'base-user:logout' %}" ><i class="far fa-user-circle"></i>{% trans 'Logout' %}</a></li>
                    {% endif %}
                </ul>
            </div><!-- end top header single -->
        </div>
    </div>
</div> <!-- end top header -->


    <div class="main-header rt-sticky">
      <nav class="navbar">
        <div class="container-fluid">
          <a href="{% url 'home:index' %}" class="brand-logo"><img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_colored %}{{ base_mainSystemInfo.logo_colored.url }}{% else %}{% static 'local/assets/images/logo/logo.png' %}{% endif %}" alt=""></a>
          <a href="{% url 'home:index' %}" class="sticky-logo"><img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_colored %}{{ base_mainSystemInfo.logo_colored.url }}{% else %}{% static 'local/assets/images/logo/logo.png' %}{% endif %}" alt=""></a>
          <div class="ml-auto d-flex align-items-center">


<div class="main-menu">
    <ul>

        <li class="menu-item-has-children only-show-mobile">
            <a href="javascript:void(0)">{{ LANGUAGE_CODE }}</a>
            <ul class="sub-menu">
                {% for language in languages %}
                    {% if language.0 != LANGUAGE_CODE %}
                        <li><a href="{% url 'set_language' %}?language={{ language.0 }}&next={{ request.path }}">{{ language.0 }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% if base_mainSystemInfo and base_mainSystemInfo.about_menu %}
            <li class="current-menu-item"><a href="{% url 'home:about' %}">{% trans 'About as' %}</a></li>
        {% endif %}
        {% if base_mainSystemInfo and base_mainSystemInfo.language_course_menu %}
        <li class="menu-item-has-children">
            <a href="javascript:void(0)">{% trans 'Language courses' %}</a>
            <ul class="sub-menu">
                {% for base_language_course_item in base_language_courses %}
                    <li><a href="{% url 'content:language-courses-detail' base_language_course_item.id base_language_course_item.slug %}">{{ base_language_course_item.title }}</a></li>
                {% endfor %}

            </ul>
        </li>
        {% endif %}
        {% if base_mainSystemInfo and base_mainSystemInfo.programs_menu %}
            <li><a href="{% url 'home:search' %}">{% trans 'Programs' %}</a></li>
        {% endif %}
        {% for static_page_item in base_static_pages %}
            {% with static_page_item.get_parents as page_item_parents %}
                {% if page_item_parents %}
                    <li class="menu-item-has-children">
                        <a href="javascript:void(0)">{{ static_page_item.title }}</a>
                        <ul class="sub-menu">
                            {% for page_item_parents_item in page_item_parents %}
                                <li><a href="{% url 'home:static-page' page_item_parents_item.slug %}">{{ page_item_parents_item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'home:static-page' static_page_item.slug %}">{{ static_page_item.title }}</a></li>
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% if base_mainSystemInfo and base_mainSystemInfo.blog_menu %}
            <li><a href="{% url 'content:blog-list' %}">{% trans 'Blog' %}</a></li>
        {% endif %}
        {% if base_mainSystemInfo and base_mainSystemInfo.contact_menu %}
            <li><a href="{% url 'home:contact-us' %}">{% trans 'Contact Us' %}</a></li>
        {% endif %}
{#        <li><a href="{% url 'home:online-exam' %}">{% trans 'Online exam' %}</a></li>#}


    </ul>
    <div class="mobile-menu">
        <div class="menu-click">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div><!-- end main menu -->
{#            <div class="rt-nav-tolls d-flex align-items-center">#}
{#                <span class="d-md-inline d-none"><a href="javascript:void(0)" class="rt-btn rt-gradient2 rt-rounded text-uppercase rt-Bshadow-1">Müraciət</a></span>#}
{#            </div>#}

          </div>
        </div>
      </nav>
    </div><!-- /.bootom-header -->

  </header>


<!-- Modal -->
<div class="modal fade" id="rtmodal-1" tabindex="-1" role="dialog" aria-labelledby="rtmodal-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rt-lgoinmodal " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="rt-modal-headr rt-mb-20 one">
                    <img src="{% static 'local/assets/images/logo/Logo-icon.png' %}" alt="modal logo" draggable="false">
                    <h4>{% trans 'Login in' %}</h4>
                </div><!-- /.rt-modal-headr -->
                <div class="rt-modal-input one">
                    <form id="login-form-data" class="rt-form" method="post">
                        {% csrf_token %}
                        {{ login_form.lemail }}
                        {{ login_form.lpassword }}
                        <div class="form-group forgot-pass">
                            <div class="form-check">
                                {{ login_form.remember_me }}
                                <label class="form-check-label" for="{{ login_form.remember_me.id_for_label }}">
                                     {{ login_form.remember_me.label }}
                                </label>
                            </div><!-- ./orm-group -->
                        </div>
                        <input type="submit" class="rt-btn rt-gradient pill d-block text-uppercase " value="{% trans 'Log In' %}">
                    </form>
                </div><!-- /.rt-modal-input -->
                <div class="rt-modal-footer">
                    <span>S</span>
                    <h4>Social media</h4>
                    <ul class="rt-social rt-circle-style2">

                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- /.rt-modal-footer -->
            </div>
        </div>
    </div>
</div>



{% block content_block %}

{% endblock %}
<!--
    ============= Brands area start==========
 -->


{% if base_mainSystemInfo and base_mainSystemInfo.partner_section_menu %}
<div class="spacer-top"></div><!-- /.spacer-top -->
<section class="brands-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <!--<span>Take a Look at Our</span>-->
                        {% trans 'Partner Universities and Colleges List' %}:
                    </h2><!-- /.rt-section-title -->
                    <p>
                        *{% trans 'Not all universities are on the list' %}.
                    </p>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <ul class="rt-border-brands">
                    {% for base_partner_item in base_partners %}
                        <li class="single-border-brands">
                            <a href="{% if base_partner_item.link %}{{ base_partner_item.link }}{% else %}javascript:void(0){% endif %}" target="_blank" class="wow flipInX d-block">
                                <img src="{% if base_partner_item.image %}{{  base_partner_item.image.url }}{% else %}http://ufc.org.az/ufcold/wp/wordpress/wp-content/uploads/2016/01/logo_ensa-v_rouge.jpg{% endif %}" alt="brands image" draggable="false">
                            </a>
                        </li><!-- /.single-border-brands -->
                    {% endfor %}
                </ul><!-- /.rt-border-brands -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.containe -->
</section>
{% endif %}
<!--
    !============= Footer Area Start ===========!
 -->
<section class="rt-site-footer" data-scrollax-parent="true">
    <div class="rt-shape-emenetns-1" style="background-image: url({% static 'local/assets/images/shape-elements/shape-4.png' %})" data-scrollax="properties: { translateY: '340px' }"></div><!-- /.rt-shape-emenetns-1 -->
    <div class="footer-top rtbgprefix-cover" style="background-image: url({% static 'local/assets/images/backgrounds/footerbg.png' %})">
    {% if base_mainSystemInfo and base_mainSystemInfo.programs_menu %}
        <div class="footer-subscripbe-box wow fade-in-bottom">
           <div class="container">
               <div class="row">
                   <div class="col-xl-8 col-lg-10 mx-auto text-center">
                        <div class="rt-section-title-wrapper text-white">
                            <h2 class="rt-section-title">
{#                                <span>{% trans 'Programs' %}</span>#}
                                {% trans 'Apply programs' %}
                            </h2><!-- /.rt-section-title -->
                        </div><!-- /.rt-section-title-wrapper -->
                   </div><!-- /.col-lg-7 -->
               </div><!-- /.row -->
            <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="input-group mb-5">
                        <a href="{% url 'home:search' %}" style="padding: 16px 40px;width: 100%;" class="btn" type="button" id="button-addon2">{% trans 'Apply' %}</a>
                    </div><!-- end input gorup -->
                </div><!-- /.col-lg-7 -->
            </div><!-- /.row -->
               <div class="rt-dot-divider"></div><!-- /.rt-dot-divider -->
           </div><!-- /.container -->
        </div><!-- /.footer-subscripbe-box -->
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="rt-single-widget wow fade-in-bottom" data-wow-duration="1s">
                        <h3 class="rt-footer-title">{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}</h3><!-- /.rt-footer-title -->
                        <ul class="rt-usefulllinks">
                            {% if base_mainSystemInfo and base_mainSystemInfo.about_menu %}
                                <li>
                                    <a href="{% url 'home:about' %}">{% trans 'About Us' %}</a>
                                </li>
                            {% endif %}
                            {% if base_mainSystemInfo and base_mainSystemInfo.contact_menu %}
                                <li>
                                    <a href="{% url 'home:contact-us' %}">{% trans 'Contact Us' %}</a>
                                </li>
                            {% endif %}
                        </ul>

                    </div><!-- /.rt-single-widge -->
                </div><!-- /.col-lg-3-->
                <div class="col-lg-4 col-md-6">
                    <div class="rt-single-widget wow fade-in-bottom" data-wow-duration="2s">
                        <h3 class="rt-footer-title">
                            {% trans 'Foundations' %}
                        </h3>
                        <ul class="rt-usefulllinks">
                            {% for base_foundation_item in base_foundations %}
                                <li><a href="">{{ base_foundation_item.title }}</a></li>
                            {% endfor %}
                        </ul><!-- /.rt-usefulllinks -->
                    </div><!-- end single widget -->
                </div><!-- /.col-lg-3-->
                {% if base_mainSystemInfo and base_mainSystemInfo.language_course_menu %}
                <div class="col-lg-4 col-md-6">
                    <div class="rt-single-widget wow fade-in-bottom" data-wow-duration="2.5s">
                        <h3 class="rt-footer-title">
                            {% trans 'Language courses' %}
                        </h3>
                        <ul class="rt-usefulllinks">

                            {% for base_language_course_item in base_language_courses %}
                                <li><a href="">{{ base_language_course_item.title }}</a></li>
                            {% endfor %}
                        </ul><!-- /.rt-usefulllinks -->
                    </div><!-- end single widget -->
                </div><!-- /.col-lg-3-->
                {% endif %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-lg-left">
                <div class="copy-text wow fade-in-bottom" data-wow-duration="1s">
                    {% trans 'Copyright' %} © {{ now.year }}. {% trans 'All Rights Reserved' %}
                </div><!-- /.copy-text -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
</section>



<!-- ==================Start Js Link===================== -->
<script src="{% static 'local/assets/js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'local/assets/js/popper.min.js' %}"></script>
<script src="{% static 'local/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'local/assets/js/moment.min.js' %}"></script>
<script src="{% static 'local/assets/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'local/assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'local/assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'local/assets/js/instafeed.min.js' %}"></script>
<script src="{% static 'local/assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'local/assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'local/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'local/assets/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'local/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'local/assets/js/TweenMax.min.js' %}"></script>
<script src="{% static 'local/assets/js/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
<script src="{% static 'local/assets/js/wow.js' %}"></script>
<script src="{% static 'local/assets/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'local/assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'local/assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'local/assets/js/select2.min.js' %}"></script>
<script src="{% static 'local/assets/js/slick.min.js' %}"></script>
<script src="{% static 'local/assets/js/slider-range.js' %}"></script>
<script src="{% static 'local/assets/js/vivus.min.js' %}"></script>
<script src="{% static 'local/assets/js/tippy.all.min.js' %}"></script>
<script src="{% static 'local/assets/js/app.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
{% include 'include/messenger.html' %}
{% block js_block %}

{% endblock %}
<!-- ==================End Js Link===================== -->
<script>
    $(".se-pre-con").hide();
    var form_submit = false;
        $( "#login-form-data" ).submit(function( event ) {
          {#alert( "Handler for .submit() called." );#}
          event.preventDefault();
          if (!form_submit){
              form_submit = true;
                $(".se-pre-con").show();
                $.ajax({
                    url: '{% url 'base-user:login' %}',
                    type: 'post',
                      data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                      contentType: false, // The content type used when sending data to the server.
                      cache: false, // To unable request pages to be cached
                      processData: false,
                    success: function(data){
                      $(".se-pre-con").hide();
                      if (data['message_code']){
                        window.location = '{% url 'panel:dashboard' %}'
                      }else{
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            title: data['message_title'],
                            html: data['message_login']
                        });
                      }
                    }
                }).error(function (err) {
                        $(".se-pre-con").hide();
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            title: '{% trans 'Xəta baş verdi' %}',
                            html: err.toString()
                        });
                  });
          }else{
            $(".se-pre-con").hide();
            Swal.fire({
                type: 'info',
                title: '{% trans 'Gözləyin' %}',
                {#html: err.toString(),#}
            });
          }
        });
</script>


</body>


</html>









