<tr>
    <td>{{ for_i }}</td>
    <td>{{ data_item.first_name }}</td>
    <td>{{ data_item.last_name }}</td>
    <td>{{ data_item.email }}</td>
    <td>{{ data_item.phone }}</td>
    <td>{{ data_item.usertype }}</td>
    <td>{{ data_item.date_joined|date:'d.m.Y H:i' }}</td>
    <td>
        <a style="padding: 10px;"  href="{% url 'panel:user-edit' data_item.id %}" class="btn btn-icon btn-square btn-warning">
             <i class="ti-pencil-alt"></i>
        </a>
    </td>
</tr>